{{> /post/header}}

<!-- 컨테이너 시작 -->
<div class="container mt-3">

    <!-- 글쓰기 폼 시작 -->
    <div>
    <form class="note-quill">
        <div id="editor">
            <p>Hello World!</p>
            <p>Some initial <strong>bold</strong> text</p>
            <p><br></p>
        </div>
        <br />
        <div class="box-form3">
            <button class="back-btn" id="btn-write" type="button">나가기</button>
            <button class="btn" id="btn-write" type="button">글쓰기</button>
        </div>
    </form>
</div>
    <!-- 글쓰기 폼 끝 -->
    
</div>
<!-- 컨테이너 끝 -->

<script>
    var quill = new Quill('#editor', {
      theme: 'snow'
    });
  </script>

{{> /layout/footer}}